.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #3632a3;
  padding: 0 1px;
}

.logo {
  background-color: azure;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
}

.crumbs-container {
  background-color: blue;
}
