.card-wrapper {
  width: 32%;
  position: relative;
  border: 1px solid black;
  margin-bottom: 30px;
}
.carousel {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.carousel button {
  background-color: transparent;
  border: none;
  font-size: 1.4em;
}
.carousel img {
  /* max-width: 100%;
  max-height: 100%; */
  width: 100%;
  height: auto;
}
.leftbutton {
  position: absolute;
  top: 45%;
  left: 10px;
}
.rightbutton {
  position: absolute;
  top: 45%;
  right: 10px;
}
i {
}
.arrow {
  position: relative;
  color: white;
  font-family: Arial sans-serif;
  font-size: 1.3em;
  text-decoration: none;
  padding: 0.5em 1.5em;
}

.arrow:before, .arrow:after {
  content:"";
  background: white;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  display: block;
  height: 0.3em;
  position: absolute;
  right: 0;
  width: 0.8em;
}


.arrow.left:before, .arrow.left:after {
  left: 0;
}
.arrow.right:before, .arrow.right:after {
  right: 0;
}

.arrow.left:before {
  top: 1em;
}

.arrow.left:after, .arrow.left:before,.arrow.right:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

arrow.left:before, .arrow.right:before, .arrow.left:after {
  top: 0.66em;
}

.arrow.left:after, .arrow.right:after {
    bottom: 0.66em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}